@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    font-family: 'Noto Serif', serif;
}

.container-fluid{
    padding: 0rem 2rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}