@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    font-family: 'Noto Serif', serif;
}

:root{
    --primary-color: #F87171;
    --dark-gray: #374151;
    --offwhite: #E5E7EB;
}

hr{
    margin-top: 2rem;
}

/**containers**/

.container-fluid{
    padding: 0rem 2rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/**links**/

.links{
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.2rem 0.3rem;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border: var(--primary-color) solid 1.8px;
}

/**lists**/

.list-bullet-less{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 1rem;
}

    /**navigation**/

.navigation{
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1.2rem;
    padding: 0.5rem 0.5rem;
}

.navigation a{
    color: white;
    text-align: right;
}

.navigation .list-bullet-less{
    text-align: right;
}

.navigation-brand{
    font-weight: bold;
}

.navigation .link-active{
    font-weight: bold;
}

/**header**/

.header{
    padding: 0rem 1rem;    
}

.header-heading{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--dark-gray);
    padding: 1rem;
    text-align: center;
}

.header .header-img{
    max-width: 500px;
    margin: auto;
    display: block;
    padding: 1rem;
}

/**section**/

.section{
    padding: 2rem 2rem;
}

.section h1{
    text-align: center;
}

.section-offwhite{
    background-color: var(--offwhite);
}

/**footer**/

.footer{
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    border-top-right-radius: 1.2rem ;
    text-align: center;
}

.footer ul{
    padding-inline-start: 0px;
}

 




